<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1280, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Uni Data 2019</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id='checkform'>
<h1>University '19</h1>
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name_input" placeholder="Your EXACT name used for admission">
</div>
<div class="form-group">
  <label for="tgt_inst">Your targeted college</label>
  <select class="form-control" id="tgt_inst_input">
    <option>IUT</option>
    <option>BUET</option>
    <option>KUET</option>
  </select>
  <label for="other_inst">Other college to compare with</label>
  <select class="form-control" id="other_inst_input">
    <option>IUT</option>
    <option>BUET</option>
    <option>KUET</option>
  </select>
  <label for="cutoff"> The possible cutoff position of other colleges</label>
  <input class="form-control" type="number" name="cutoff" id="ctf_input">
  <br>
  <button id='submit_btn' type="submit" class="btn btn-primary">Submit</button>
</div>
<div id='data'></div>
<script src="/static/script.js"></script>
</body>
</html>